{% extends "base.html" %} 

{% block title %}

{{ product.name }}

{% endblock %} 

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-md-6">
        {% if product.image %}
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded"
          alt="{{ product.name }}"
        />
        {% endif %}
      </div>

      <div class="col-md-6">
        <h1 class="fw-bold mb-3">{{ product.name }}</h1>

        <p class="text-muted mb-3">
          Kategori:
          <a
            href="{% url 'products:category_products' product.category.slug %}"
            class="text-decoration-none"
          >
            {{ product.category.name }}
          </a>
        </p>

        <h4 class="mb-3">{{ product.price }} ₺</h4>

        <p class="mb-4">{{ product.description }}</p>

        <p class="mb-3"><strong>Stok:</strong> {{ product.stock }}</p>

        {% if product.stock > 0 %}
        <span class="badge bg-success mb-4">Stokta Var</span>
        {% else %}
        <span class="badge bg-danger mb-4">Stokta Yok</span>
        {% endif %}

        <div>
          {% if product.stock > 0 %}
          <a
            href="{% url 'cart:add_to_cart' product.id %}"
            class="btn btn-dark"
          >
            Sepete Ekle
          </a>
          {% else %}
          <button class="btn btn-secondary" disabled>Stokta Yok</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
